*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/*  можна просто задати margin: 0; */

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color:#FFFFFF;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
}
/*--- можна також для кожної кнопки задати button {cursor: pointer}----*/

/*------------------------------------HEADER  ---------------------*/

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.accent {
 color: #2e2f42;
}

.header-menu-list {
display: flex;
gap: 40px;
}

.header-menu-item {
  display: block;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-list {
display: flex;
gap: 40px;
align-items: center;
margin-left: 332px;
}

.address-list-item {
  padding: 24px 0;

}

.address-list-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.address-list-link:hover,
.address-list-link:focus {
  color: #404bbf;
}

/*------------------------------------HEADER END ---------------------*/

/*------------------------------------HERO ---------------------*/

.hero {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero-button {
  font-family: inherit;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404BBF;
}

/*------------------------------------HERO END ---------------------*/

/* ----------------------------FEATURES------------------------------------- */

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
  white-space: nowrap;
}

.features-list {
  display: flex;
  gap: 24px;
  max-width: 1128px;
}

.features-list-item {
}


.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  width: 264px;
}

.features-item-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ----------------------------FEATURES END------------------------------------- */

/* ----------------------------TEAM------------------------------------- */

.team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}


.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  background: #fff;
  border-radius: 0px 0px 4px 4px;
}

.container-team-description {
  padding: 32px 0;
}

.team-item-title {
padding-bottom: 32px;
}

.team-image {
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.team-item-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  text-align: center;
}

/* ----------------------------TEAM END------------------------------------- */

/* ----------------------------PORTFOLIO------------------------------------- */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-images {
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ----------------------------PORTFOLIO END------------------------------------- */

/* ---------------------END--------------------------------- */
.end {
  background-color:#2e2f42;
  padding: 100px 0;
}

.footer-background {
color:#2e2f42;
}

.end-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.accent-end {
color: #f4f4fd;
}

.end-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

/* ---------------------END end--------------------------------- */

